{% extends "index.html" %}
{% block content %}
<tbody>
    {% for item in items %}
        <tr data-toggle="collapse" data-target="#{{item.company_info.symbol}}" class="clickable">
            <td>
                <ul style="list-style: none;">
                    <li><bold>{{item.company_info.symbol}}</bold></li>
                    <li><small>{{item.company_info.company_name}}</small></li>
                    <li><small><a style="text-decoration: none" href={{item.company_info.website}} target="_blank">{{item.company_info.website}}</a></small></li>
                </ul>
            </td>
    
    
            <td><a>{{item.company_chart.close}}</a></td>
            <td>
                <ul style="list-style: none;">
                    <li>{{item.company_chart.change}}</li>
                    <li><span><small>({{item.company_chart.change_percentage}}%)</small></span></li>
                </ul>
            </td>
    
            <td>
                <ul style="list-style: none;">
                    <li>{{item.company_info.sector}}</li>
                    <li><small>{{item.company_info.industry}}</small></li>
                </ul>
            </td>
            <td>{{item.company_info.exchange}}</td>
        </tr>

        <tr>
            <td style="padding: 0px">
                <div id="{{item.company_info.symbol}}"  class="collapse ml-2">
                    {% for item in item.company_news %}    
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{item.headline}}</h4>
                                <p class="card-text">{{item.summary}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </td>
            <td colspan="3" style="padding: 0px">
                <div id="{{item.company_info.symbol}}"  class="collapse ml-2">
                    <h1>Graph</h1>
                    <small>feature to be implemented shortly</small>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
    
{% endblock content %}