<!doctype html>

<html>
    <head>
        <title>stock_view</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    </head>

    <body>
            <nav class="navbar navbar-expand-sm navbar-light navbar-fixed-top bg-light">
                <a class="navbar-brand" href="/home">STOCK_VIEW</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <br>
        <div class="container navbar-collapses" style="margin-top: 5%">
            <navbar>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/top_gainers">Top Gainers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/top_losers">Top Losers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="most_active">Most Active</a>
                    </li>
                </ul>
            </navbar>
        </div>
        <br>
        <div class="mx-auto" style="box-shadow: 0px 0px 10px lightgray; width: 80%;">
                <table class="table table-hover" style="font-size: 120%">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 500px;">
                                <form class="form-inline">
                                    <div class="form-group">
                                        SYMBOL
                                    </div>
                                    <div class="form-group mx-sm-3 ml-5">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </form>
                            </th>
                            <th style="padding-bottom: 23px">CLOSE</th>
                            <th style="padding-bottom: 23px">CHANGE | <small>(change %)</small></th>
                            <th style="padding-bottom: 23px">SECTOR | <small>INDUSTRY</small></th>
                            <th style="padding-bottom: 23px">EXCHANGE</th>
                        </tr>
                    </thead>
                    {% block content %}{% endblock content %}
                </table>
        </div>
        <br>
        <div id="footer" style="margin-top: 150px; background-color: #2e303c; color: white;">
            <hr>
            <div class="container">
                <ul style="list-style: none; font-size: 120%">
                    <li><bold>LINKS</bold></li>
                    <br>
                    <li><a style="text-decoration: none" href="/home">Home</a></li>
                    <li><a style="text-decoration: none" href="/top_gainers">Top Gainers</a></li>
                    <li><a style="text-decoration: none" href="/top_losers">Top Losers</a></li>
                    <li><a style="text-decoration: none" href="/most_active">Most Active</a></li>
                    <li><a style="text-decoration: none" href="/about">About</a></li>
                    <li><a style="text-decoration: none" href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        
    </body>
</html>