{% extends "index.html" %}
{% block content %}
<tbody>
    {% for item in items %}
        <tr data-toggle="collapse" data-target="#{{item.symbol}}" class="clickable">
            <td>
                <ul style="list-style: none;">
                    <li><bold>{{item.symbol}}</bold></li>
                    <li><small>{{item.company_name}}</small></li>
                </ul>
            </td>
            <td><a>{{item.close}}</a></td>
            <td>
                <ul style="list-style: none;">
                    <li>{{item.change}}</li>
                    <li><small>({{item.change_percentage}}%)</small></li>
                </ul>
            </td>
            <td>
                <ul style="list-style: none;">
                    <li>{{item.sector}}</li>
                </ul>
            </td>
            <td>{{item.exchange}}</td>
        </tr>
        <tr>
            <td colspan="3" style="padding: 0px">
                <div id="{{item.symbol}}"  class="collapse">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                            <h4 class="card-title">News Title</h4>
                            <p class="card-text">news summary</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                            <h4 class="card-title">News Title</h4>
                            <p class="card-text">news summary</p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>

{% endblock content %}